[submodule "ms-event"]
	path = submodules/ms-event
	url = ../ms-event.git
[submodule "ms-user"]
	path = submodules/ms-user
	url = ../ms-user.git
[submodule "ms-post"]
	path = submodules/ms-post
	url = ../ms-post.git
[submodule "api-gateway"]
	path = submodules/api-gateway
	url = ../api-gateway.git
[submodule "ms-social"]
	path = submodules/ms-social
	url = ../ms-social.git
[submodule "outbox-runners"]
	path = submodules/outbox-runners
	url = ../outbox-runners.git
[submodule "submodules/workers-runners"]
	path = submodules/workers-runners
	url = ../workers-runners.git
