[submodule "ms-event"]
	path = ms-event
	url = git@github.com:Volontariapp/ms-event.git
[submodule "ms-user"]
	path = ms-user
	url = git@github.com:Volontariapp/ms-user.git
[submodule "ms-post"]
	path = ms-post
	url = git@github.com:Volontariapp/ms-post.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:Volontariapp/api-gateway.git
[submodule "ms-social"]
	path = ms-social
	url = git@github.com:Volontariapp/ms-social.git
[submodule "outbox-runners"]
	path = outbox-runners
	url = git@github.com:Volontariapp/outbox-runners.git
